@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Scheherazade+New&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}
nav ul {
    background-color: #040404;
    height: 64px;
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #bfbf;
    font-size: 1.2rem;
    font-weight:700;
}

nav ul li {
    padding: 0px 45px;
  
}
/* nav ul li a{
    text-decoration: none;
    color: #bfbf;  
} */

.brand img {
    width: 45px;
    margin-right: 15px;
    margin-left: 15px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size: 1.8rem;
}

nav ul li a{
    text-decoration: none;
    color: #bfbf;  
}
.middleContainer{
display: flex;
min-height:84.8vh;
}
.wrapper{
width: 37%;
background-color:#252325;
text-align: center;
}
.menu{
    list-style: none;
    margin-top:15px;
    display: flex;
    flex-direction: column;
}
.menu li a{
    font-family: 'Montserrat', sans-serif;
    color: #bfbf;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:700;
}
.container {
    font-family: 'Scheherazade New', serif;
    background-color:#514F50;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 20px;
}

.icons {
    margin-bottom: 15px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 84vw;
    cursor: pointer;
    color:#bfbf;
}
.songItemContainer {
    height: 0px; 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    border-radius: 20px;
}

.songItem {
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    background-color: #BEBDBD;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;

}

.songItem img {
    width: 90%;
    margin: 10px 10px;
    border-radius: 18px;
}

.timeStamp {
    display: flex;
}
.songName{
    line-height: 1.2;
}
.timeStamp i {
    cursor: pointer;
    margin-left: 10px;
}
.songInfo img{
    width: 75px;
    margin: 0 20px;
    border-radius: 38px;
}
.songInfo{
    font-family: 'Scheherazade New', serif;
    position: absolute;
    left: 0vw;
    top: 20px;
    display: flex;
    align-items: center;
}  

/* .bottomImg{
    height: 435px;
    position: relative;
    left: 240px;
} */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 110px;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation: rotation 2s infinite linear;
}

 @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }